body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

#app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
